@font-face {
	font-family: 'Capture it';
	font-style: normal;
	font-weight: normal;
	src: local('Capture it'), url('../fonts/Capture_it.woff') format('woff');
}
	

@font-face {
	font-family: 'Capture it 2';
	font-style: normal;
	font-weight: normal;
	src: local('Capture it 2'), url('../fonts/Capture_it_2.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700;800&display=swap');